.navbar {
    display: flex;
    justify-content: normal;
    align-items: center;
    margin-bottom: 24px;
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 24px;
    background-color: #030e12;
    border-radius: 15px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

h1 {
    color: #fcde67;
    padding-right: 10px;
    padding-left: 10px;
}

img {
    padding-left: 10px;
}

h1 {
    margin-top: 24;
    color: #fcde67;
}

h2 {
    color: #fcde67;
}

p {
    color: #FFFFFF
}

/* body {
    width: 100%;
    padding-left: 24px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 50px;
    border-radius: 15px;
    float: left;
    align-content: left;
    text-align: left;
    background-color: #99c3ef;
} */

body {
    background-color: #99c3ef;
    font-family: Avenir, Helvetica, Arial, sans-serif;
}

.all {
    display: flex;
}

.home {
    border-radius: 15px;
    flex: 1;
    background-color: #030e12;
    margin-left: 24px;
    margin-right: 24px;
    padding-left: 24px;
}

.v-model {
    color: #fcde67;
}

.trade {
    background-color: #000000;
    width: 45%;
    padding-left: 24px;
    padding-bottom: 24px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 50px;
    border-radius: 15px;
    float: left;
    align-content: left;
    text-align: left;
}